body {
  color:black;
  background-color:white;
  background-image:url(parapente);
  margin:0;
  }


.col-sm-6,.col-sm-3, .col-md-12, .col-sm-4{
    text-align: center;
    panding: 5px;
   }
   .row{
    display: flex;
      justify-content: center;
      align-items: center;
  }

li {
  list-style: none;
}
p{
  text-align: left;
}
